
.inner{
    margin: 1px;
    width: 100px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    background-color: red;
    float:left;
}
.inner:hover{
    transformer:scale(1.5);
}
